<div class="footer-copyright">
  <div class="container">
    <p class="center">&copy; 2017 Tiffany White</p>
    <p class="no-pad center">Made with ❤️ in Pittsburgh, Pennsylvania</p>
  </div>
</div>
</footer>
</div>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</body>

</html>
