<% include partials/header %>

<body>
  <div class="page-flexbox-wrapper">
  <% include partials/nav %>
  <main class="mdl-layout__content">
    <div class="divider" id="show"></div>
      <div class="section z-depth-2">
    <p class="flow-text">This is where your markdown files live.</p>
    </div>
  </main>
</div>

</body>


<% include partials/footer %>
