body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: hidden;

}

.fixed-action-btn {
  position: absolute;
  float: right;
  z-index: 999;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid grey;
  box-shadow: 0 1px 0 0 grey;
}

ul > li {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

p {
  padding: 0em 1em;
}

h4 {
  padding-left: 1.5rem;
}

.no-pad {
  padding: 0em;
}

.space {
  line-height: 1.2em;
}

.right-pad {
  padding-right: 1em;
}

.left-pad {
  padding-left: 0em;
}

#result {
  text-align: center;
}
