body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 150%;
}

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 9999;
  background: #06d7d9;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Menu */

.menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;
}

.menu ul {
  position: relative;
  top: 0px;
  font-size: 24px;
  padding: 0px;
}

.menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
}

.menu li:hover {
  color: #06d7d9;
}

/* .editor {
  max-width: 700px;
  border: 1px solid #696;
  margin: 30px auto;
}

.editor-buttons {
  background-color: #696;
  padding: 5px;
  display: flex;
}

.editor-action {
  padding: 8px;
  cursor: pointer;
  border: 0;
  background-color: #696;
  outline: none;
  font-size: 16px;
  color: #eee;
  transition: 0.5s ease;
  display: flex;
  border-radius: 2px;
}

.editor-action.active {
  background-color: #090;
  transition: 0.2s ease;
}

.editor-action span {
  align-items: center;
}

.editor-action:hover {
  background-color: #080;
  color: #fff;
  transition: 0.3s ease;
}

.editor-action + .editor-action {
  margin-left: 5px;
}

textarea {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  border: 0;
  padding: 15px;
  min-height: 400px;
  width: 100%;
  outline: none;
  resize: none;
}

.heading {
  font-family: "Roboto", sans-serif;
  background-color: #c64;
  color: #eee;
  text-align: center;
  padding: 40px;
  font-weight: 100;
  margin-bottom: 30px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto Slab", serif;
  color: #041;
}

a {
  color: #373;
} */
