.fixed-action-btn {
  position: absolute;
  float: right;
  z-index: 999;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid grey;
  box-shadow: 0 1px 0 0 grey;
}

ul > li {
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
}
